.carousel-control-prev-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 39%;
}
.carousel-control-next-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 39%;
    right: 0;
}