@mixin text($color,$fs,$fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin  button($color,$bg-color,$pd-top-botom,$pd-right-left){
    color: $color;
    background-color: $bg-color;
    padding: $pd-top-botom $pd-right-left;
    border: none;
}