$color-blue1: #627792;
$color-blue2: #0e2b5c;
$color-blue3: #1dc2ef;
$color-red: #fc5546;
$color-white: white;
$color-black: black;
$color-violet: #231834;
$color-gray: #ECEFF3;

$fs-0: 10px;
$fs-1: 14px;
$fs-2: 15px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 22px; 
$fs-7: 30px;
$fs-8: 32px;
$fs-9: 36px;
$fs-10: 48px;
$fs-11: 96px;
$fs-12: 112px; 

$mg-0: 5px;
$mg-1: 7px;
$mg-2: 10px;
$mg-3: 12px;
$mg-4: 15px;
$mg-5: 17px;
$mg-6: 20px;
$mg-7: 22px;
$mg-8: 25px;
$mg-9: 30px;
$mg-10: 35px;
$mg-11: 40px;



